<h1>New Place</h1>

<form action="/places" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" class="form-control">
  </div>

  <input type="submit" value="Add Place" class="btn btn-primary">
</form>

<p class="mt-3"><a href="/places">Back to list</a></p>